// Light layout
// Colors
// Optional dark/gold colors
// Dark Brown/Black: #45423A
// Vintage Gold: #DDB36E
$primary-color: #000000;
$primary-color-dark: #f4f4f4;
$accent-color: #ffc107;
$trinary-color: #90c55c;
$black: #1e1e1e;

$color-adjust-amount: 10;
$animation-time: 0.6s;

$small-screen: 1155px;
$medium-screen: 1300px;
$large-screen: 1800px;
$phone-screen: 715px;

$top-margin: 150px;
$padding-page: 24px;
$max-content-width: 1100px;
$max-content-project-width: 900px;

$line-opacity: 0.18;

@import 'm-buttons';

// Main
html {
	font-size: 20px;
	height: 100%;
}

* {
	box-sizing: border-box;
}

// For the wowjs plugin to hide objects without flickering
.wow { visibility: hidden; }

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background: $primary-color;
	min-height: 100%;
	line-height: 1.6875;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

u {
	color: $accent-color;
	text-decoration: none;
}

p, ul {
	font-size: 0.9rem;
	line-height: 1.6875;
	font-weight: 300;
}

ul {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: white;
	transition: all $animation-time;
	font-size: 0.9rem;
	font-weight: 300;

	&:hover, &:focus, &:active {
		opacity: 0.6;
		text-decoration: none;
	}
}

blockquote {
	background-color: $primary-color-dark;
	border-color: $accent-color;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 10px 0px;
	font-style: italic;
}

code {
	font-family: monospace, monospace;
	color: #ffc107;
	font-size: 0.7rem;
	padding: 3px;
	margin: 1px 5px;
	background-color: #252C3B;
	border-radius: 5px;
	display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
	font-weight: 400;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
	margin-top: 24px;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
	font-weight: 600;
}

h5 {
	font-size: 1rem;
	font-weight: 400;
}

h6 {
	font-size: 0.95rem;
}

video {
	width: 100%;
    height: auto;
    border-radius: 2px;
}

.home h6 {
	font-weight: 300;
    padding-bottom: 35px;
    font-size: 0.8rem;
}

img {
	width: 100%;
	height: auto;
}

strong {
	color: white;
}

::selection {
  background: $accent-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $accent-color; /* Gecko Browsers */
}

.header-title {
	font-size: 36px;
	margin-bottom: 24px;
	max-width: 400px;
	margin-top: 170px;
	font-weight: 600;
}

.header-subtitle {
	margin-bottom: 170px;
	max-width: 350px;
	font-size: 21px;
    color: #c3c3c3;
    font-weight: 400;
    line-height: 34px;
}

@media (max-width: 425px) {
	.header-title {
		margin-top: 130px;
	}
	.header-subtitle {
		margin-bottom: 110px;
	}
}

.main-container-fluid {
	max-width: 1800px;
	margin: 0 auto;
}

.main-container {
	margin: 0 auto;
	max-width: $max-content-width;
}

.main-container-wide {
	margin: 0 auto;
	max-width: 1700px;
	margin-top: $top-margin + 20;
    padding: 70px 70px;
	padding-top: 0px;
    padding-bottom: 0px;
}

	// Small Screen
	@media (max-width: $small-screen) {
		.main-container, .main-container-wide {
			max-width: 100%;
			padding: 0px 45px;
		}
	}

	// Phone Screen
	@media (max-width: $phone-screen) {
		.main-container, .main-container-wide {
			max-width: 100%;
			padding: 0px 25px;
		}
	}

.page-grid {
	display: grid;
	grid-template-columns: [start] minmax($padding-page, 1fr) [center] minmax(auto, $max-content-width) [end] minmax($padding-page, 1fr);
	& > * {
		grid-column: center;
	}
}

.page-release {
	grid-column: start / end;
}

.project-grid {
	display: grid;
	grid-template-columns: [start] minmax($padding-page, 1fr) [center] minmax(auto, $max-content-project-width) [end] minmax($padding-page, 1fr);
	& > * {
		grid-column: center;
	}
	p {
		opacity: 0.85;
	}
}

.photo-grid-container {
	margin-top: 16px;
	margin-bottom: 16px;
}

.photo-grid {
	display: flex;
	justify-content: center;
	
	img:hover {
		cursor: zoom-in;
	}
	img {
		width: auto;
		height: 250px;
		padding: 0;
		margin: 12px;
		border-radius: 2px;
		object-fit: cover;
		box-shadow: 0px 4px 15px #00000017;
	}
	img:not(:last-child) {
		margin-right: 14px;
	}
}

@media (max-width: $phone-screen) {
	.photo-grid-container {
		grid-column: start / -1;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.photo-grid {
		display: flex;
		justify-content: flex-start;
		img {
			height: 200px;
			margin-right: 14px;
		}
	}
}

.photo-grid-subtitle {
	margin-top: 0px;
	text-align: center;
	opacity: 0.85;
	font-size: 0.8rem;
}

.home-projects, .home-posts {
	width: 100%;
	max-width: 609px;
	height: 300px;
	margin: 0px;
	position: relative;
	//outline: 2px solid $accent-color;
	border: 2px solid rgba(255, 255, 255, $line-opacity);
	transition: all $animation-time;

	&:hover {
		color: white;
		opacity: 1;
	}

	&:hover .project-content, &:active .project-content, &:focus .project-content {
		background: rgba(255, 255, 255, 0.2);
	}

}

.recent-project {
	display: grid;
    width: 100%;
    background: #171717;
    border-radius: 4px;
	grid-template-columns: 40% 1fr;
	overflow: hidden;
	height: 300px;
	.recent-project-content {
		grid-column: 2;
		padding: 40px 32px;
		align-self: center;
	}
	img {
		grid-column: 1;
		padding: 0;
		height: 100%;
		object-fit: cover;
	}
	h4 {
		display: inline-block;
		line-height: 32px;
		font-weight: 600;
	}
	p {
		margin-top: 8px;
		margin-bottom: 0px;
		opacity: 0.70;
	}
	.read {
		margin-top: 8px;
		font-weight: 500;
		color: white;
		display: inline-block;
		opacity: 1;
		border-bottom: 1px solid #cecece;
		position: relative;
		transition: opacity $animation-time;
		--accent-color: white; // To be referenced from the pseduo-element
		&:after {
			content: '';
			position: absolute;
			background: var(--accent-color);
			left: 0;
			right: 100%;
			bottom: -1px;
			height: 1px;
			transition: all $animation-time;
		}
	}
	&:hover {
		opacity: 1;
	}
	&:hover .read:after, &:focus .read:after, &:active .read:after {
		right: 0;
	}
}

.work-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
	grid-gap: 40px;
}

@media (max-width: 500px) {
	.recent-project {
		grid-template-columns: 10% 1fr;
	}
	.work-grid {
		grid-template-columns: 1fr;
	}
}

// Navmenu

.navmenu {
	width: 100%;
	display: flex;
	height: 60px;
	margin-top: 18px;
	padding: 10px 20px;
	animation: fade-move-intro;
	animation-duration: 1.5s;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 90000;

	.site-logo-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		flex-grow: 1;

		.site-logo {
			width: 45px;
			height: auto;
			margin-right: 17px;
		}

		.site-title {
			font-size: 1rem;
			width: 100%;
		}
	}

	.site-pages {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		text-transform: uppercase;
		font-size: 0.7rem;
		font-weight: 500;
		letter-spacing: 1px;
		margin-right: 40px;

		li {
			margin: 0;
			padding: 0;
			padding: 0px 20px;
			a {
				font-size: 0.7rem;
				font-weight: 500;
			}
		}
	}
}

// M Menu

.m-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 2.3rem;
	font-weight: 700;
	padding-top: 55px;

	li a {
		color: white;
		font-weight: 500;
		&:hover, &:active, &:focus {
			color: white;
		}
	}
}

.m-menu-btn span, 
.m-menu-btn span:before,
.m-menu-btn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.m-menu-btn span:before {
  top: -10px;
}
.m-menu-btn span:after {
  bottom: -10px; 
}

.m-menu-btn {
	display: none;
	position: relative;
	right: 40px;
}

@media (max-width: $small-screen) {
	.navmenu {
		.site-pages {
			display: none;
		}
	}
	
	.m-menu-btn {
		display: inline-block;
	}
}

.m-subtitle {
	margin-top: 60px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

.m-noscroll {
	overflow: hidden;
	position: relative;
}

.m-enabled {
	display: block;
}

.m-overlay {
	display: none;
	flex-direction: column;
	position: absolute;
	z-index: 9999;
	background: $accent-color;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px 20px;
	animation: fade-in;
	animation-duration: 0.4s;
	overflow: scroll;

	.site-logo {
		display: inline-block;
		/* float: left; */
		height: 45px;
		width: 45px;
		padding: 0;
		margin-right: 17px;
	}

	.site-title {			
		font-size: 1.3rem;
		width: 100%;
	}

	.site-logo-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		margin-bottom: 40px;
	}

	.site-outside-links {
    	justify-content: flex-start;
		padding-top: 20px;
	}

	.site-outside-links li a {
    	color: #1e1e1e;
		&:hover, &:active, &:focus {
			color: black;
		}
	}

	.site-title {
		&:hover, &:active, &:focus {
			color: black;
		}
	}
}

// Sidebar
.site-title, .site-title a {
	font-weight: 900;
	padding: 0;
	margin: 0;
	text-decoration: none;
	//font-family: 'Palintino', serif;
}
	.sub-site-title {
		font-weight: 300;
		font-size: 0.7rem;
		line-height: 1.3rem;
		padding-top: 10px;
	}

	.site-logo {
		border-radius: 100%;
		width: 90px;
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
		display: block;
		pointer-events: none;
	}

.site-logo-container {
	padding: 20px 50px;
}

@media (max-width: $small-screen) {
	.site-logo-container {
		padding: 0px;
	}
}

.site-pages {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.9;
	font-size: 1.1rem;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	li {
		padding: 8px 50px;
	}
}

// Blog

.project-post-title {
	font-weight: 600;
	text-align: center;
	font-size: 3.7rem;
	//font-family: 'palintino', serif;
}

@media (max-width: $phone-screen) {
	.project-post-title, .blog-single-post-title {
		//margin-bottom: 73px;
		//padding-top: 21px;
		font-size: 2.2rem;
		line-height: 1;
	}
}

// Pages

.page-header-title {
	text-align: left;
    font-weight: 700;
    font-size: 2.3rem;
    font-family: "Arimo", sans-serif;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (max-width: $phone-screen) {
	.page-header-title {
		font-size: 1.4rem;
		line-height: 1.3;
	}
}

///
///
/// Fluid homepage
///
///

.main-container-fluid-hero, .main-container-flex {
	width: 100%;
	//margin-top: -($top-margin);
}

.project-details {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	margin-top: 20px;
	background: transparent;

	div {
		padding-right: 35px;
	}

	h6 {
		font-weight: 600;
		padding-bottom: 5px;
		text-transform: uppercase;
	}
}

.page-header-fade {
	background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	padding: 0px 24px;
	* {
		z-index: 100;
	}
}

@media (max-width: $phone-screen) {
	.page-header-fade {
		height: 430px;
	}
}

// Small Screen
@media (max-width: $small-screen) {

	.portfolio-item-fluid-container {
		height: 950px;

		.portfolio-content-container {
			padding-left: 30px;
			padding-right: 30px;
			background: rgba($primary-color, 0.8);

		}

		h1 {
			font-size: 40px;
		}
	}

	.project-details {
		padding: 0px;
		//flex-direction: column;
    	margin-bottom: 0px;

		div {
			padding-right: 0px;
			padding-bottom: 20px;
			width: 49%;
		}
		// This makes sure there isn't extra padding on the bottom of the project details panel on mobile
		div:last-child {
			width: 100%;
		}
	}

}

///
///
/// Utilities
///
///

.page-footer {
	display: flex;
    padding: 0px 100px;
    margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 30px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

	.footer-description {
		max-width: 400px;
		font-size: 0.8rem;
		text-align: left;
		opacity: 0.85;
	}

	.email-link {
		font-size: 1.2rem;
		display: block;
		margin-top: 40px;
		font-weight: 600;
	}
}

@media (max-width: $phone-screen) {
	.page-footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		padding: 0 $padding-page;
	}
}

.page-footer-container {
	display: flex;
	flex-direction: column;
}

///
///
/// Utilities
///
///

.m-custom {
	color: white !important;
	border-color: white !important;

	&:hover, &:active, &:focus {
		background-color: $black !important;
		border-color: $black !important;
		color: $accent-color !important;
	}

}

.award {
	border-radius: 4px;
    box-shadow: 0px 13px 29px #00000045;
    opacity: 1;
    width: 150px;
    height: auto;
    padding: 0px;
    margin: 0;
}

.nohover {
	pointer-events: none;
}

.hide {
	display: none;
}

.h-center {
	position: relative;;
	display: flex;
	width: 100%;
	justify-content: center;
}

.medium-zoom-overlay {
	z-index: 8999;
	background-color: rgba(0, 0, 0, 0.51) !important;
}

.medium-zoom-image--open {
	z-index: 90000;
	object-fit: cover;
}

.small-seperator {
	height: 1px;
    width: 35px;
    background: white;
    display: block;
    margin: 0 auto;
}

.video-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.m-button .fa {
	padding-right: 4px;
}

.spacer {
	display: block;
	height: 0px;
	clear: both;
}

@keyframes fade-in {
	from {opacity: 0;}
	to {
		opacity: 1;}
}

@keyframes fade-move-intro {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}
	to {
		opacity: 1;
		transform: initial;
	}
}

.project h2 {
    margin-bottom: 5px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    width: initial;
    font-weight: 600;
    text-transform: uppercase;
}

.white {
	color: white;
	a {
		color: white;
		transition: color $animation-time;
	}
	a:hover, a:focus, a:active {
		color: #e9e9e9;
	}
	span, span:before, span:after {
		background: white;
	}
}

img.mfp-img {
	max-height: inherit !important;
}

.m-fullscreen {
	width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.6s;
    z-index: 2;
    font-weight: 500;
	font-size: 1rem;

	&:hover, &:active, &:focus {
		background-color: rgba(0, 0, 0, 0.57);
	}
}

.m-full {
	width: 100%;
}

.m-light {
    border: 1px solid #cccbcb;

	&:hover, &:active, &:focus {
		border-color: transparent;
	}
}
